.cardBody {
  padding: 1rem;
  display: flex;
}

.thumbnailContainer {
  width: 5rem;
  min-height: 4.5rem;
  /* background: rgb(165, 165, 165); */
  border-radius: 2px;
  border: 1px solid rgb(165, 165, 165);
}

.thumbnail {
  width: 100%;
  /* display: none; */
}

.content {
  /* background: rgb(149, 207, 255); */
  width: 100%;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}

.info {
}

.title {
  margin: 4px 0;
  font-weight: bold;
}

.address {
  display: flex;
  align-items: center;
}

.locationIcon {
  width: 1rem;
  fill: rgb(61, 61, 61);
  /* vertical-align: middle; */
}

.typeTag {
  margin: 4px 0;
}

.pricing {
}

.facilities {
  margin: 4px 0;
}

.contact {
  align-items: center;
}

.contactIcon {
  width: 1rem;
  fill: rgb(61, 61, 61);
  vertical-align: middle;
  margin-right: 4px;
}
