footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1890FF;
  height: 10%;
  padding: 16px;
  color: white;
}

.content{
  padding-bottom: 5%;
}

body{
  background-color: #F6F6F6;
}

.active-link{
  color: #F3712A
}
